- provide(:title, 'Product')
%body.product
	.container
		= render "layouts/header"
		.row
			.col-xs-12
				= render "layouts/twolevel_menu"
		.row
			.col-xs-6
				%h3= @product.name
				%p
					= "#{@product.price} руб."
				%p= @product.caption
				%p
					- if @product.availability
						%span= "Есть в наличие"
					- else
						%span= "Нет в наличие"
			.col-xs-6
				%p Тут будет картинка
		.row.well
			%p Тут будет блок "С этим товаром покупают" (Вести статистику покупок)