- provide(:title, 'Home')
%body.home
	.container
		- if current_manager
			%p= current_manager.email
			%p
				= link_to 'Управление', admin_path, class: 'btn btn-primary'
				= link_to 'Выйти', destroy_manager_session_path, method: :delete, class: 'btn btn-warning'
		= render 'layouts/header'
		.row
			.col-xs-12
				= render 'layouts/onelevel_menu'
		.row
			%h2 Летние предложения (сезонные продажи)
			%p Блок для сезонных распродаж
		.row
			- @events.each do |event|
				.col-xs-6
					.col-xs-4
						= image_tag event.image.medium, class: 'img img-responsive'
					.col-xs-8
						%p= event.name
						%p= event.caption
		.row
			%h2 Хиты продаж
			- @tops.each do |sell|
				.col-xs-3.tops_block
					- if sell.image.blank?
						.empty_img
					- else
						= image_tag sell.image.medium, class: 'img img-responsive'
					= link_to sell.name, shop_product_path(sell.link), class: 'link_black'
		= render 'layouts/bottom'
