- provide(:title, 'Home')
%body.home
	.container
		- if current_manager
			%p= current_manager.email
			%p
				= link_to "Управление", admin_path, class: 'btn btn-primary'
				= link_to "Выйти", destroy_manager_session_path, method: :delete, class: 'btn btn-warning'
		= render "layouts/header"
		.row
			.col-xs-12
				= render "layouts/onelevel_menu"
		.row.well
			%p Блок для сезонных распродаж
		.row.well
			%p Блок для пары акций
		.row.well
			%p Хиты продаж (Брать данные по продажам вчерашнего дня? Вести статистику?)
		.row.well
			%p Почему стоит нас покупать
			.col-xs-3
			.col-xs-3
			.col-xs-3
			.col-xs-3
		.row.well
			%p Простой текстовый блок
