- provide(:title, 'Order')
%body.order
    .container
        = render "layouts/header"
        .row
            = render "layouts/onelevel_menu"
        .row
            %p= "Сумма покупок - #{@order.summ} руб."
            %p= pay_url "Pay with Robokassa", @order.id, @order.summ, { html: { class: 'btn btn-primary' }}
        = render 'layouts/footer'