- provide(:title, 'Корзина')
%body.cart
	.container
		= render "layouts/header"
		.row
			= render "layouts/onelevel_menu"
		- if @current_cart.positions.count > 0
			.row
				%p Оформление заказа
			.row
				.col-xs-12
					- @current_cart.positions.order(id: :asc).each do |position|
						.row{id: "row_#{position.id}"}
							.col-xs-2
								%p Картинка
							.col-xs-3
								%p= position.product.name
							.col-xs-3
								%p
									= link_to check_box_tag("beauty_#{position.id}", value = "1", checked = "#{position.beauty}".to_b), beauty_path(position), remote: true, method: :post
									= label_tag "beauty_#{position.id}", "Красивая упаковка +300 руб."
								%p
									= link_to check_box_tag("green_#{position.id}", value = "1", checked = "#{position.green}".to_b), green_path(position), remote: true, method: :post
									= label_tag "green_#{position.id}", "Добавить зелени +300 руб."
							.col-xs-1{id: "count_#{position.id}"}
								%p= position.count
								#minus= button_to "-", minus_path(position), class: "btn", remote: true
								#plus= button_to "+", plus_path(position), class: "btn", remote: true
							.col-xs-2{id: "summ_#{position.id}"}
								%p= position.summ
							.col-xs-1
								%p= button_to "X", positions_destroy_path(position_id: position.id), class: "btn btn-danger", method: :delete
			.row
				.col-xs-12#total_summ
					%p.pull-right= "Итого #{@current_cart.summ} руб."
			.row
				.col-xs-4
					%ul
						Доставка
						%li Можем доставить за 1 час!
						%li Доставка днем Бесплатная!
						%li Работаем 24/7, заказы лучше делать заранее! ;-)
					%ul
						Оплата
						%li Принимаем любые банковские карты!
						%li Более 10 платежных систем!
						%li Хотите заплатить наличными? Отправим отдельного куриера за оплатой!
				.col-xs-8

			.row.buy_with
				%h2 С этим обычно покупают
				- @buy_with.each do |sell|
					.col-xs-3
						.tops_block
							- if sell.image.blank?
								.empty_img
							- else
								= image_tag sell.image.medium, class: 'img-responsive'
							= link_to sell.name, shop_product_path(sell.link), class: 'link_black'
							%p= "#{sell.price} руб."
							= button_to 'Купить', positions_path(product_id: sell.id), class: 'btn btn-success', remote: true
		- else
			.row
				%p Кoрзина пустая