- provide(:title, 'Все продукты')
%body.products
	.container
		.row
			.col-xs-12
				%h1 Все продукты
		.row
			.col-xs-12
				.table-responsive
					%table.table.table-striped
						%tr
							%td ID
							%td Название
							%td Цена
							%td Наличие
							%td Ссылка
							%td Категория
							%td
							%td
						- @products.each do |product|
							%tr
								%td= product.id
								%td= product.name
								%td= product.price
								%td= product.availability
								%td= product.link
								%td= product.menu.name
								%td= link_to 'Edit', edit_product_path(product), class: 'btn btn-primary'
								%td Delete