.row
	.col-xs-12
		%ul
			%li= link_to "Доставка", about_delivery_path
			%li= link_to "Оплата", about_cash_path
			%li= link_to "Отзывы", about_responces_path
			%li= link_to "Акции", shop_events_path
			%li= link_to "О нас", about_path
			%li= link_to "Контакты", about_contacts_path
.row
	.col-xs-4.well
		%p Поле для обратной связи
	.col-xs-4.well
		%p Место для логотипа
	.col-xs-4.well
		%p Место для корзины